<section class="hero-banner text-center mb-5">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
        <div class="container-fluid py-5">
            <h1 class="display-3 fw-bold mb-3">Yaratıcı Çözümler, Dijital Deneyimler</h1>
            <p class="lead mb-4">Web geliştirme, 3D tasarım ve otomotiv tutkusunu birleştiren benzersiz projelerimi
                keşfedin.</p>
            <a href="#projeler" class="btn btn-light btn-lg px-5 py-3 fs-5 fw-medium">Projelerimi Gör</a>
        </div>
    </div>
</section>